@charset "utf-8";
/* CSS 格式书写开发人员约束规范 ****************************************************************** 

1.所有CSS属性，除了空属性可以单行之外，即使只有一个属性，也必须换行,但是后期发布版本压缩什么的请随意压缩。


2.所有缩进都用 TAB， 而不是空格。


3.绑定到HTML元素的CSS属性，除非经过深思熟虑，排除后期污染到其它HTML标签属性，不然一律通过CLASS或者ID来写CSS 
	例如：  
		a {xxxx},  
		div{xxxx}, 
		li {xxxx}, 
		span {xxxx} 这种全局通用HTML标签样式是禁止书写。


4.禁止样式过多嵌套，尽量不要超过3层
	例如：
		.a {xxx}
		.a .b {xxx}
		.a .b .c {xxxx}


5.不要滥用缩写去耍帅or偷懒,省了几个字节会造成后面维护人员很大麻烦
	例如:font:12px/20px "simsun"


********************************************************************************************  */
.app_container {
	overflow: hidden;
	height: 100%;
	width: 100%;
}
.app_header {
	z-index: 10;
	height: 80px;
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	background: url(../images/svg/logo.svg) center center no-repeat;
	background-color: rgba(0, 0, 0, 0.2);
}
.nosvg .app_header {
	background-image: url(../images/bitmap/logo.png);
}
.eachBlck {
	padding-top: 80px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.demopagec-1 {
	background-image: -moz-linear-gradient( 60deg, rgb(39,51,62) 0%, rgb(83,133,149) 100%);
	background-image: -webkit-linear-gradient( 60deg, rgb(39,51,62) 0%, rgb(83,133,149) 100%);
	background-image: -ms-linear-gradient( 60deg, rgb(39,51,62) 0%, rgb(83,133,149) 100%);
}
.demopagec-2 {
	background-image: -moz-linear-gradient( 60deg, #0d95b7 0%, #00d0bf 100%);
	background-image: -webkit-linear-gradient( 60deg, #0d95b7 0%, #00d0bf 100%);
	background-image: -ms-linear-gradient( 60deg, #0d95b7 0%, #00d0bf 100%);
}
.demopagec-3 {
	background-image: -moz-linear-gradient( 60deg, #2d2f44 0%, #6e73b0 100%);
	background-image: -webkit-linear-gradient( 60deg, #2d2f44 0%, #6e73b0 100%);
	background-image: -ms-linear-gradient( 60deg, #2d2f44 0%, #6e73b0 100%);
}
.demopagec-4 {
	background-image: -moz-linear-gradient( 60deg, #3b2f24 0%, #937251 100%);
	background-image: -webkit-linear-gradient( 60deg, #3b2f24 0%, #937251 100%);
	background-image: -ms-linear-gradient( 60deg, #3b2f24 0%, #937251 100%);
}
