@charset "utf-8";
/* CSS 格式书写开发人员约束规范 ****************************************************************** 

1.所有CSS属性，除了空属性可以单行之外，即使只有一个属性，也必须换行,但是后期发布版本压缩什么的请随意压缩。


2.所有缩进都用 TAB， 而不是空格。


3.绑定到HTML元素的CSS属性，除非经过深思熟虑，排除后期污染到其它HTML标签属性，不然一律通过CLASS或者ID来写CSS 
	例如：  
		a {xxxx},  
		div{xxxx}, 
		li {xxxx}, 
		span {xxxx} 这种全局通用HTML标签样式是禁止书写。


4.禁止样式过多嵌套，尽量不要超过3层
	例如：
		.a {xxx}
		.a .b {xxx}
		.a .b .c {xxxx}


5.不要滥用缩写去耍帅or偷懒,省了几个字节会造成后面维护人员很大麻烦
	例如:font:12px/20px "simsun"


********************************************************************************************  */
@font-face {
	font-family: 'lsicons';
	src:url('../fonts/lsicons.eot?-fzdzn4');
	src:url('../fonts/lsicons.eot?#iefix-fzdzn4') format('embedded-opentype'),
		url('../fonts/lsicons.svg?-fzdzn4#lsicons') format('svg'),
		url('../fonts/lsicons.woff?-fzdzn4') format('woff'),
		url('../fonts/lsicons.ttf?-fzdzn4') format('truetype');
	font-weight: normal;
	font-style: normal;
}

[class^="ficon-"], [class*=" ficon-"] {
	font-family: 'lsicons';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.ficon-icon-7:before {
	content: "\e606";
}
.ficon-icon-1:before {
	content: "\e600";
}
.ficon-icon-2:before {
	content: "\e601";
}
.ficon-icon-3:before {
	content: "\e602";
}
.ficon-icon-4:before {
	content: "\e603";
}
.ficon-icon-5:before {
	content: "\e604";
}
.ficon-icon-6:before {
	content: "\e605";
}


/* ===============================================================
Basic Swiper Styles 
================================================================*/
.swiper-container {
	margin: 0 auto;
	position: relative;
	overflow: hidden;
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	-ms-backface-visibility: hidden;
	backface-visibility: hidden;
	/* Fix of Webkit flickering */
	z-index: 1;
}
.swiper-wrapper {
	position: relative;
	width: 100%;
	-webkit-transition-property: -webkit-transform, left, top;
	-webkit-transition-duration: 0s;
	-webkit-transform: translate3d(0px, 0, 0);
	-webkit-transition-timing-function: ease;
	-moz-transition-property: -moz-transform, left, top;
	-moz-transition-duration: 0s;
	-moz-transform: translate3d(0px, 0, 0);
	-moz-transition-timing-function: ease;
	-ms-transition-property: -ms-transform, left, top;
	-ms-transition-duration: 0s;
	-ms-transform: translate3d(0px, 0, 0);
	-ms-transition-timing-function: ease;
	transition-property: transform, left, top;
	transition-duration: 0s;
	transform: translate3d(0px, 0, 0);
	transition-timing-function: ease;
}
.swiper-free-mode > .swiper-wrapper {
	-webkit-transition-timing-function: ease-out;
	-moz-transition-timing-function: ease-out;
	-ms-transition-timing-function: ease-out;
	transition-timing-function: ease-out;
	margin: 0 auto;
}
.swiper-slide {
	float: left;
}
/* IE10 Windows Phone 8 Fixes */
.swiper-wp8-horizontal {
	-ms-touch-action: pan-y;
}
.swiper-wp8-vertical {
	-ms-touch-action: pan-x;
}
/* ===============================================================
Your custom styles, here you need to specify container's and slide's
sizes, pagination, etc.
================================================================*/
.swiper-container {
/* Specify Swiper's Size: */

	/*width:200px;
	height: 100px;*/
}
.swiper-slide {
/* Specify Slides's Size: */
	
	/*width: 100%;
	height: 100%;*/
}
.swiper-slide-active {
/* Specific active slide styling: */
	
}
.swiper-slide-visible {
/* Specific visible slide styling: */	

}
/* ===============================================================
Pagination Styles
================================================================*/
.swiper-pagination-switch {
/* Stylize pagination button: */	

}
.swiper-active-switch {
/* Specific active button style: */	
	
}
.swiper-visible-switch {
/* Specific visible button style: */	
	
}



.app_container {
	overflow: hidden;
	height: 100%;
	width: 100%;
}
.app_header {
	z-index: 10;
	height: 80px;
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	background: url(../images/svg/logo.svg) center center no-repeat;
	background-color: rgba(0, 0, 0, 0.2);
	-webkit-box-shadow: inset 0 -1px 0 0 rgba(0, 0, 0, 0.2);
	box-shadow: inset 0 -1px 0 0 rgba(0, 0, 0, 0.2);
}
.ctrBtns {float: right;}
.ctrBtns .ctr_1,
.ctrBtns .ctr_2,
.ctrBtns .ctr_3,
.ctrBtns .ctr_4,
.ctrBtns .ctr_5 {
	float: left;
	width: 64px;
	height: 64px;
	margin: 8px;
	cursor: pointer;
	color: #fff;
	font-size: 64px;
}
.mapSideTop {
	overflow: hidden;
	height: auto;
	padding: 32px 0;
}
.mapSideBot {
	/*如果有生之年能看到这个样式被其它浏览器支持，请Mail告诉我*/
	mask-image:url(../images/bitmap/mapsidemask.png);
	mask-size:100% 100%;
	mask-position-x:0;
	mask-position-y:0;
	
	-moz-mask-image:url(../images/bitmap/mapsidemask.png);
	-moz-mask-size:100% 100%;
	-moz-mask-position-x:0;
	-moz-mask-position-y:0;
	
	-ms-mask-image:url(../images/bitmap/mapsidemask.png);
	-ms-mask-size:100% 100%;
	-ms-mask-position-x:0;
	-ms-mask-position-y:0;
	
	-webkit-mask-image:url(../images/bitmap/mapsidemask.png);
	-webkit-mask-size:100% 100%;
	-webkit-mask-position-x:0;
	-webkit-mask-position-y:0;
}
.ctrBtns .ctr_1 {}
.ctrBtns .ctr_2 {}
.ctrBtns .ctr_3 {}
.ctrBtns .ctr_4 {}
.ctrBtns .ctr_5 {}


/* GPU 加速CSS */
.hardware-acceleration {
	-webkit-transform:translateZ(0);
	transform:translateZ(0);
	-webkit-transform-style: preserve-3d;
	-moz-transform-style: preserve-3d;
	-ms-transform-style: preserve-3d;
	transform-style: preserve-3d;
	-webkit-backface-visibility:hidden;
	backface-visibility:hidden;
}

.nosvg .app_header {
	background-image: url(../images/bitmap/logo.png);
}
.eachBlck {
	padding-top: 80px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.demopagec-1 {
	background-image: -moz-linear-gradient( 60deg, rgb(39,51,62) 0%, rgb(83,133,149) 100%);
	background-image: -webkit-linear-gradient( 60deg, rgb(39,51,62) 0%, rgb(83,133,149) 100%);
	background-image: -ms-linear-gradient( 60deg, rgb(39,51,62) 0%, rgb(83,133,149) 100%);
}
.demopagec-2 {
	background-image: -moz-linear-gradient( 60deg, #0d95b7 0%, #00d0bf 100%);
	background-image: -webkit-linear-gradient( 60deg, #0d95b7 0%, #00d0bf 100%);
	background-image: -ms-linear-gradient( 60deg, #0d95b7 0%, #00d0bf 100%);
}
.demopagec-3 {
	background-image: -moz-linear-gradient( 60deg, #2d2f44 0%, #6e73b0 100%);
	background-image: -webkit-linear-gradient( 60deg, #2d2f44 0%, #6e73b0 100%);
	background-image: -ms-linear-gradient( 60deg, #2d2f44 0%, #6e73b0 100%);
}
.demopagec-4 {
	background-image: -moz-linear-gradient( 60deg, #3b2f24 0%, #937251 100%);
	background-image: -webkit-linear-gradient( 60deg, #3b2f24 0%, #937251 100%);
	background-image: -ms-linear-gradient( 60deg, #3b2f24 0%, #937251 100%);
}

.sidebar_wrap {
	position: absolute;
	top: 80px;
	left: 0;
	width: 238px;
	bottom: 0;
	z-index: 10;
	-webkit-transform: translateX(-238px);
	-ms-transform: translateX(-238px);
	transform: translateX(-238px);
	height: calc(100% - 80px);
}
.sidebar_wrap.show {
	-webkit-transition: all .3s linear;
	transition: all .3s linear;
	-webkit-transform: translateX(0px);
	-ms-transform: translateX(0px);
	transform: translateX(0px);
}
.sidebar_wrap.hide {
	-webkit-transition: all .3s linear;
	transition: all .3s linear;
	transform: translateX(-238px);
}
.sidebar {
	display: table;
	height: 100%;
	width: 100%;
}
.sideItems {
	display: table-row;
	position: relative;
	-webkit-transform: translateX(-238px);
	-ms-transform: translateX(-238px);
	transform: translateX(-238px);
}
.sidebar_wrap.show .sideItems {
	-webkit-transition: all 1s linear;
	transition: all 1s linear;
	-webkit-transform: translateX(0px);
	-ms-transform: translateX(0px);
	transform: translateX(0px);
}

.sidebar_wrap.hide .sideItems {
	-webkit-transition: all .2s linear;
	transition: all .2s linear;
	-webkit-transform: translateX(-238px);
	-ms-transform: translateX(-238px);
	transform: translateX(-238px);
}


.sidebar_wrap.show .sideItems:nth-of-type(1) {transition-duration: .1s}
.sidebar_wrap.show .sideItems:nth-of-type(2) {transition-duration: .2s}
.sidebar_wrap.show .sideItems:nth-of-type(3) {transition-duration: .3s}
.sidebar_wrap.show .sideItems:nth-of-type(4) {transition-duration: .4s}
.sidebar_wrap.show .sideItems:nth-of-type(5) {transition-duration: .5s}
.sidebar_wrap.show .sideItems:nth-of-type(6) {transition-duration: .6s}
.sideItems .silinks {
	width: 100%;
	height: auto;
	display: table-cell;
	cursor: pointer;
	text-align: center;
	vertical-align: middle;
	font-size: 32px;
	line-height: normal;
	color: #fff;
	position: relative;
	-webkit-transition: background .3s linear;
	-ms-transition: background .3s linear;
	transition: background .3s linear;
	-webkit-transform-style: preserve-3d;
	transform-style: preserve-3d;
	-webkit-perspective: 800px;
	perspective: 800px;
}
.no-webgl .sideItems .silinks{
	perspective: none;
}
.sideItems:nth-of-type(1)>* {background: #777777;}
.sideItems:nth-of-type(2)>* {background: #6d6d6d;}
.sideItems:nth-of-type(3)>* {background: #666666;}
.sideItems:nth-of-type(4)>* {background: #595959;}
.sideItems:nth-of-type(5)>* {background: #4f4f4f;}
.sideItems:nth-of-type(6)>* {background: #444444;}

.sideItems:hover .silinks {
	background: #00a7d9;
	-webkit-transition-duration: 0;
	transition-duration: 0.1s;
}
.sideItems:hover .silinks:after {
	position: absolute;
	left: 0;
	top: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
	content: " ";
	display: block;
	-webkit-transition: all 1s linear;
	transition: all 1s linear;
	opacity: .1;
	background-image: -moz-linear-gradient( 0deg, rgba(0,0,0,0) 0%, rgba(0,0,0,0.8) 100%);
	background-image: -webkit-linear-gradient( 0deg, rgba(0,0,0,0) 0%, rgba(0,0,0,0.8) 100%);
	background-image: -ms-linear-gradient( 0deg, rgba(0,0,0,0) 0%, rgba(0,0,0,0.8) 100%);
}


.silinksSec {
	width: 100%;
	height: 100%;
	position: absolute;
	left: 100%;
	top: 0;
	text-align: center;
	background: #00a7d9;
	-webkit-transition: -webkit-transform .1s linear;
	transition: transform .1s linear;
	-webkit-backface-visibility: hidden;
	-ms-backface-visibility: hidden;
	backface-visibility: hidden;
	-webkit-transform-origin: left center;
	-ms-transform-origin: left center;
	transform-origin: left center;
	-webkit-transform: rotate3d(0,1,0,90deg);
	transform: perspective(800px) rotate3d(0,1,0,90deg);
}
.silinksSec:before {
	display: inline-block;
	height: 100%;
	vertical-align: middle;
	width: 0;
	content: " ";
}
.silinksSec:after {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	content: " ";
	display: block;
	-webkit-transition: all 1s linear;
	transition: all 1s linear;
	opacity: 1;
	background-image: -moz-linear-gradient( 0deg, rgba(0,0,0,0) 0%, rgba(0,0,0,0.8) 100%);
	background-image: -webkit-linear-gradient( 0deg, rgba(0,0,0,0) 0%, rgba(0,0,0,0.8) 100%);
	background-image: -ms-linear-gradient( 0deg, rgba(0,0,0,0) 0%, rgba(0,0,0,0.8) 100%);
}
.silinksSec:hover {
	text-shadow: 0 0 12px #fff;
}

.silinksSec:nth-of-type(1) {
	left: 100%;
}
.silinksSec:nth-of-type(2) {
	left: 200%;
}
.silinksSec:nth-of-type(3) {
	left: 300%;
}
.silinksSec:nth-of-type(4) {
	left: 400%;
}
.silinksSec:nth-of-type(5) {
	left: 500%;
}
.silinksSec:nth-of-type(6) {
	left: 600%;
}
.silinksSec:nth-of-type(7) {
	left: 700%;
}

.sideItems:hover .silinksSec {
	-webkit-transform: rotate3d(0,1,0,0deg);
	transform: perspective(800px) rotate3d(0,1,0,0deg);
}
.sideItems:hover .silinksSec:after {
	opacity: 0.1;
}
.skInner {
	vertical-align: middle;
	display: inline-block;
}

.sideBtn {
	float: left;
	height: 80px;
	width: 238px;
	-webkit-transition:background-color 1s linear;
	transition:background-color 1s linear;
}
.side_hide_btn,
.side_show_btn {
	cursor: pointer;
	float: left;
	width: 64px;
	height: 64px;
	padding: 8px;
	font-size: 64px;
	text-align: center;
	color: #fff;
}
.sideBtn .side_hide_btn {
	-webkit-transform: translateX(-160px) translateZ(0);
	transform: translateX(-160px) translateZ(0);
}

.sideBtn.hide .side_hide_btn {
	-webkit-transition: -webkit-transform 1s cubic-bezier(0, 1.47, .23, .97);
	transition: transform 1s cubic-bezier(0, 1.47, .23, .97);
	-webkit-transform: translateX(0) translateZ(0);
	transform: translateX(0) translateZ(0);
}

.sideBtn.hide .side_show_btn {
	-webkit-transition: -webkit-transform 1s cubic-bezier(0, 1.47, .23, .97);
	transition: transform 1s cubic-bezier(0, 1.47, .23, .97);
	-webkit-transform: translateX(-80px) translateZ(0);
	transform: translateX(-80px) translateZ(0);
}

.sideBtn.show .side_hide_btn {
	-webkit-transition: -webkit-transform 1s cubic-bezier(0, 1.47, .23, .97);
	transition: transform 1s cubic-bezier(0, 1.47, .23, .97);
	-webkit-transform: translateX(-160px) translateZ(0);
	transform: translateX(-160px) translateZ(0);
}

.sideBtn.show .side_show_btn {
	-webkit-transition: -webkit-transform 1s cubic-bezier(0, 1.47, .23, .97);
	transition: transform 1s cubic-bezier(0, 1.47, .23, .97);
	
	-webkit-transform: translateX(0px) translateZ(0);
	transform: translateX(0px) translateZ(0);
}

.sideBtn.hide {
	background-color: rgba(0, 0, 0, 0.3);
}

#mapSide {
	float: right;
	width: 444px;
	margin-left: -444px;
	height: 100%;
}
.mslist {
	color: #fff;
}
.mslist .msEachlist{
	width:100%;
	padding: 10px 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	cursor: pointer;
}
.mslist .msEachlist:hover .mapDataDetail {
	background-color: rgba(255, 255, 255, 0.05);
}
.mapDataDetail {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	height: 100%;
	border: solid 1px rgba(255, 255, 255, 0);
	padding: 10px;
}

.swiper-slide-click-active .mapDataDetail {
	border: solid 1px rgba(255, 255, 255, 0.3);
	background: rgba(255, 255, 255, 0.1);
	box-shadow: 0 0 10px rgba(0,0,0,.2);
}
.mdh2 {
	line-height: 56px;
	font-size: 30px;
	color: #fff;
	border-bottom: solid 1px rgba(255, 255, 255, 0.3);
	font-weight: normal;
}
.mdh2 .mdh2_1{
	
}
.mdh2 .mdh2_2{
	font-size: 32px;
}

.mdhlist {
	
}
.mdhlist .mdhli{
	overflow: hidden;
	line-height: 30px;
	font-size: 18px;
}

.mdhli .mli_l {
	float: left;
}
.mdhli .mli_r {
	float: right;
	color: #ffe900;
}
.mapswipebtn {
	height: 56px;
	line-height: 56px;
	padding: 0 52px;
	border: solid 2px #fff;
	font-size: 24px;
	color: #fff;
	float: left;
	display: block;
	border-radius: 50px;
	cursor: pointer;
	margin-right: 10px;
}
.mapswipebtn.cur {
	background-color: #fff;
	color: #0093ba;
}
#mapWrap {
	height: 100%;
	margin-right: 444px;
	margin-left: 40px;
	/*background: #000;*/
}

#chart_timeLine {
	height: 100%;
	width: 100%;
}
